<!DOCTYPE html>
<html lang="id">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&family=Roboto:wght@700;400&display=swap" rel="stylesheet">
	</head>

	<body style="margin: 0;">
		<div style="background-color: #012B30; padding: 36px 0; max-width: 948px; width: 100%;">
			<div style="width: 90%; background-color: #fff; margin: 0 auto; padding: 24px 6%; box-sizing: border-box;">
				<table style="font-family: 'Nunito Sans', sans-serif; border-spacing: 0;" width="100%">
					<tr>
						<td colspan="3">
							<img style="width: 99px; height: 60px;object-fit: cover;"
								src="https://dummyimage.com/100x400/000/fff" alt="ini logo">
						</td>
					</tr>
					<tr>
						<td style="padding: 24px 0;" colspan="3">
							<p style="margin: 0; font-size: 18px; line-height: 28px; font-weight: bold;">Halo ${fullName},</p>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<p style="margin: 0; font-size: 14px; line-height: 21px;">
								Berikut adalah informasi akun yang telah dibuat untuk Anda. Silahkan gunakan informasi ini untuk masuk ke sistem kami. Terima kasih.
							</p>
						</td>
					</tr>
                    <tr>
                        <td width="30%;">
                            <p style="color: #212121; padding-top: 20px; font-size: 16px; line-height: 24px; font-weight: 700; margin: 0;">Nama Lengkap</p>
                        </td>
                        <td width="10%">
                            <p style="color: #212121; padding-top: 20px; font-size: 16px; line-height: 24px; font-weight: 700; margin: 0;">:</p>
                        </td>
                        <td width="60%">
                            <p style="word-break: break-all; padding-top: 20px; color: #212121; font-size: 16px; line-height: 24px; font-weight: 700; margin: 0;">
                                ${fullName}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%;">
                            <p style="color: #212121; font-size: 16px; line-height: 24px; font-weight: 700; margin: 0;">Email</p>
                        </td>
                        <td width="10%">
                            <p style="color: #212121; font-size: 16px; line-height: 24px; font-weight: 700; margin: 0;">:</p>
                        </td>
                        <td width="60%">
                            <p style="word-break: break-all; color: #212121; font-size: 16px; line-height: 24px; font-weight: 700; margin: 0;">
                                ${email}
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="30%;">
                            <p style="color: #212121; font-size: 16px; line-height: 24px; font-weight: 700; margin: 0;">Password</p>
                        </td>
                        <td width="10%">
                            <p style="color: #212121; font-size: 16px; line-height: 24px; font-weight: 700; margin: 0;">:</p>
                        </td>
                        <td width="60%">
                            <p style="word-break: break-all; color: #212121; font-size: 16px; line-height: 24px; font-weight: 700; margin: 0;">
                                ${password}
                            </p>
                        </td>
                    </tr>
					<tr>
						<td style="padding: 40px 0;" align="center" colspan="3">
							<a href="https://google.com"
								style="text-decoration: none; display: inline-block; padding: 8px 12px; border-radius: 8px; background-color: #012B30; border: unset; margin: 0 auto;">
								<p style="margin: 0; font-size: 16px; line-height: 24px; font-weight: bold; color: #fff; font-family: 'Nunito Sans', sans-serif;">
									Masuk Sekarang
								</p>
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="3">
							<hr
								style="margin: 0 auto 8px; border-width: 1px; border-color: #F2F4F7; border-style: solid;" />
							<p
								style="margin: 0; font-family: Roboto, sans-serif; font-size: 14px; line-height: 21px; color: #98A2B3; text-align: center;">
								2024 - Payroll System. All rights reserved.
							</p>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</body>
</html>